@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    background-image: url(https://thumbs.dreamstime.com/b/bezszwowa-deseniowa-pizza-wektorowy-pizza-wz%C3%B3r-89205691.jpg);
    background-attachment: fixed;
    background-color: red;
}


* {
    box-sizing: border-box;
}
