.ul-navbar {
    list-style: none;
}


.navigation-container {
    width: 100%;
    height: 75px;
    background-color: #ea272d;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.20);
    position: static;
    top: 0px;
}

.navigation-content {
    height: 75px;
    margin: 0px 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul-navbar {
    display: flex;
}

.menu .ul-navbar .li-navbar .a-navbar {
    padding: 0px 30px;
    font-family: calibri;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 3px solid #e54c51;
}


.li-navbar:hover {
    color: blue;
}

.logo {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
}

/*--------------------------FOOTER--------------------------*/
.footer-menu .ul-navbar .li-navbar .a-navbar {
    border-left: 3px solid #2E2E2E;
    color: rgba(255, 255, 255, 0.80)
}

.footer {
    background-color: #0A0A0A;
    height: 150px;
}


.social {
    display: flex;
}

.social a {
    padding: 15px;
}

.social img {
    height: 15px;
}


.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: myriad pro;
    font-weight: 400;
    font-size: 12px;
    margin-top: 10px;
}

.copyright p {
    font-family: calibri;

    color: #B9B9B9;
}